* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

nav{
  text-align: left;
  background-color: rgb(100, 97, 97);
}

ul{
  list-style: none;
}

.hamburger{
  display: flex;
  justify-content: flex-end;
  color:white;
}

.menu{
  display: none;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-width: 1px;
  border-color: gray;
  text-align: center;
  padding: 20px;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p{
  text-align: left;
}

/*Ipads*/
@media(min-width: 768px) and (max-width: 1024px){
  header{
    flex-direction: row;
    justify-content: center;
  }
  h1{
    padding: 10px;
  }
}

/*Large screens*/
@media(min-width: 1025px){
  header{
    flex-direction: row;
    justify-content: center;
  }
  h1{
    padding: 10px;
  }
  .hamburger{
    display: none;
  }

  .menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: bold;
    padding: 5px;
  }

  li{  
    color: white;
    padding: 10px 20px
    }

  .product{
      margin: 10px;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      width: 350px;
    }
  
  main{
      display: flex;
      flex-direction: row;
    }
  
  .social_icon{
      color: black;
    }
}
